body {
  text-align: center;
}

#debug {
  text-align: left;
  display: inline-block;

  white-space: pre;

  display: flex;
  justify-content: space-around;
  width: 100%;
}

#debug > div {
  width: 25%;
  text-overflow: ellipsis;
}
